.App{
  display: flex;
}

.LeftsideBar{
  background-color: #98e9dc;
  color: #666;
  height: 100vh;
  position: fixed;
  width: 10vw;
}

.LeftsideBar a:visited{
  color: #666;
}

.LeftsideBar ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.LeftsideBar li{
  text-align: center;
  /* outline: solid 1px #555; */
  padding: 10px 0px 10px 0px;
}
