@import "./Loading.scss";
@import "./Sidebar.scss";

:root {
  --MainColor: #00d9d2;
  --SubColor: #e0a353;
}

/* 全体的なレイアウト関連 */
.Exam {
  width: calc(100vw - 5px);
}

.ExamContents {
  display: flex;
}

.LinkToZwitter :visited {
  color: #555;
}

/* 真ん中のコンテンツ */
.MainContents {
  width: 80vw;
}

/* SubjectLists */
.SubjectLists {
  p {
    margin: 30px 0px 30px 30px;
    padding: 0;
    width: 90%;
  }

  a {
    background-color: var(--SubColor);
    border: solid 1px var(--SubColor);
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    transition: 0.5s;
    width: 100%;
  }

  a:hover {
    background-color: var(--MainColor);
    border: solid 1px var(--MainColor);
  }

  a:visited {
    color: #fff;
  }
}

.Content {
  border: solid 1px #555;
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
}