:root{
  --MainColor: #00d9d2;
  --SubColor: #e0a353;
}

/* 全体的なレイアウト関連 */
.Exam{
  width: calc(100vw - 5px);
}

.ExamContents{
  display:flex;
}

/* 左サイドバー */
.LeftSideMenu{
  background-color: var(--MainColor);
  box-sizing: border-box;
  padding: 0px 10px;
  text-align: center;
  width: 10vw;
}

.LinkToZwitter a{
  border: solid 1px #555;
  border-radius: 15px;
  font-size: 1rem;
  margin: 0px auto;
  padding: 15px;
  text-align: center;
  text-decoration: none;
}

.LinkToZwitter :visited{
  color: #555;
}

/* 真ん中のコンテンツ */
.MainContents{
  width: 80vw;
}

/* 右サイドバー */
.RightSideMenu{
  background-color: var(--MainColor);
  box-sizing: border-box;
  padding: 0px 10px;
  width: 10vw;
}

/* SubjectLists */
.SubjectLists p{
  margin: 30px 0px 30px 30px;
  padding: 0;
  width: 90%;
}

.SubjectLists a{
  background-color: var(--SubColor);
  border: solid 1px var(--SubColor);
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  transition: .5s;
  width: 100%;
}

.SubjectLists a:hover{
  background-color: var(--MainColor);
  border: solid 1px var(--MainColor);
}

.SubjectLists a:visited{
  color: #fff;
}

/* ローディングのアニメーション */
/* https://projects.lukehaas.me/css-loaders/ */
.loader,
.loader:before,
.loader:after {
  background: #373737;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #373737;
  text-indent: -9999em;
  text-align: center;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}