.Zwitter{
    display: flex;
}

.ZwitterContents{
    height: 100vh;
    margin: 0px 0px 0px 10vw;
    /* outline: solid 1px #555; */
    width: 100vw;
}

.RightsideBar{
    background-color: #98e9dc;
    color: #666;
    height: 100vh;
    margin: 0px 0px 0px 90vw;
    text-align: center;
    position: fixed;
    /* outline: solid 1px #555; */
    /* width: calc(10vw - 8px); */
    width: 10vw;
}

.configIcon{
    /* outline: solid 5px #555; */
    position: relative;
}